theme = "onedark" 

[editor]
line-number = "relative" # absolute
cursorline = true
color-modes = true
mouse = true
bufferline = "always" # multiple

[editor.lsp]
display-inlay-hints = true
goto-reference-include-declaration = true
display-messages = true
auto-signature-help	= true
display-signature-help-docs	= true

[editor.auto-pairs]
'(' = ')'
'{' = '}'
'[' = ']'
'"' = '"'
'`' = '`'
'<' = '>'

[editor.cursor-shape]
insert = "bar"
normal = "block"
select = "underline"

[editor.statusline]
left = ["mode", "spinner"]
center = ["file-name"]
right = ["diagnostics", "selections", "position", "file-encoding", "file-line-ending", "file-type"]
separator = "|"
mode.normal = "NORMAL"
mode.insert = "INSERT"
mode.select = "SELECT"

[editor.file-picker]
hidden = false

[keys.normal]
C-s = ":w" 
C-a = "select_all"
esc = ["collapse_selection", "keep_primary_selection"]
"tab" = "goto_next_buffer"
"S-tab" = "goto_previous_buffer"

[keys.normal."backspace"]
s = [":w", ":config-reload"]
o = ":config-open"

# rust
r = ":sh cargo run 2>&1 || true"
b = ":sh cargo build 2>&1 || true"
c = ":sh cargo check 2>&1 || true"

# python
p = ":sh pyright || true"
l = ":sh ruff check . || true"

