[[language]]
name = "rust"
scope = "source.rust"
injection-regex = "rust"
file-types = ["rs"]
roots = ["Cargo.toml", "Cargo.lock"]
auto-format = true
formatter = { command = "rustfmt" }
comment-tokens = "//"
language-servers = ["rust-analyzer"]
indent = { tab-width = 4, unit = "    " }

[language-server.rust-analyzer]
command = "rust-analyzer"

[language-server.rust-analyzer.config]
checkOnSave = false
cargo.jobs = 1

[language-server.rust-analyzer.config.files]
excludeDirs = ["target"]

[[language]]
name = "go"
file-types = ["go"]
auto-format = true
language-servers = ["gopls"]
formatter = { command = "goimports" }
indent = { tab-width = 4, unit = "    " }

[language-server.gopls]
command = "gopls"

[[language]]
name = "python"
file-types = ["py"]
auto-format = true
formatter = { command = "ruff", args = ["format", "-"] }
language-servers = ["pyright"]
indent = { tab-width = 4, unit = "    " }

[language-server.ruff]
command = "ruff"
args = ["server"]

[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]

